doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      ul
          li: a(href="/") Home 
          li: a(href="/list") List of users
          li: a(href="/register.html") Register 
          li: a(href="/login.html") Login
    block content