extends layout

block content
    h2 Login
    p Please login to be able to use all of our features
    form(id="form-data")
        .input-field
            input(type="email" name="email" id="email" required)
            label(for="email") Email
        .input-field
            input(type="password" name="password" id="password" required)
            label(for="password") Password
        button.btn(type="submit" id="submit") Login
    
    div#auth-section



    script(src="/javascripts/login.js")
