extends layout

block content
  h2 Register
  form(action="/api/register" method="POST")
    .input-field
      input(type="text" name="firstname" id="firstname" required)
      label(for="firstname") First name
    .input-field
      input(type="text" name="lastname" id="lastname" required)
      label(for="lastname") Last name
    .input-field
      input(type="email" name="email" id="email" required)
      label(for="email") Email
    .input-field
      input(type="password" name="password" id="password" required)
      label(for="password") Password
    button.btn(type="submit") Register
