html
    head
        title Tinder Clone
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="./stylesheets/style.css")
    body
        nav
            div.nav-wrapper
                a.brand-logo(href="/userhome") Tinder Clone
                ul.right
                    li 
                        a(href="/userhome") Home
                    li
                        a(href="#" id="profile") Profile
                    li
                        a(href="/logout") Logout
        .container
            block content

            .section.hide(id="profile-section")
                .row
                    .col.s12
                        .card.hide(id="profile-card")
                            .card-content
                                span.card-title(id="name")
                                p(id="register-date")
                                p(id="bio")
                                button.btn.waves-effect.waves-light(id="edit-profile-button") Edit Profile
                            .card-action.hide(id="edit-form-section")
                                form(id="edit-profile-form")
                                    .input-field
                                        input#edit-firstname(type="text" name="firstname" required)
                                        label(for="edit-firstname") First Name
                                    .input-field
                                        input#edit-lastname(type="text" name="lastname" required)
                                        label(for="edit-lastname") Last Name
                                    .input-field
                                        textarea#edit-bio(name="bio" class="materialize-textarea")
                                        label(for="edit-bio") Bio
                                    .row
                                        .col.s6
                                            button.btn.waves-effect.waves-light(type="submit" id="submit-edit") Save
                                        .col.s6
                                            button.btn.red.waves-effect.waves-light(type="button" id="cancel-edit") Cancel
                a(href="/userhome") Back to home
            .row.center-align
                button#start-browsing.btn-large.waves-effect.waves-light.blue Start browsing profiles

            #browsing.hide
                .card
                    .card-content.center-align
                        span.card-title#random-profile Browse Profiles
                        h3#random-profile-name
                        p#random-profile-bio
                        div.button-row
                            a.btn-floating.btn-large.waves-effect.waves-light.green(id="like-button")
                                i.material-icons favorite
                            a.btn-floating.btn-large.waves-effect.waves-light.red(id="dislike-button")
                                i.material-icons thumb_down

            .section(id="matches-section")
                h5 Your Matches
                ul#matches-list
                    // Matches will be populated here
            .section.hide(id="chat-section")
                h5#chat-with Chat with: 
                div#chat-history.chat-history
                    // Chat messages will be populated here
                form(id="send-message-form")
                    input#chat-message(type="text" placeholder="Type a message...")
                    button.btn.waves-effect.waves-light(type="submit") Send

        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script.
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                var instances = M.Sidenav.init(elems);
            });
        script(src="/javascripts/userhome.js")
        script(src="/javascripts/chat.js")
